<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="TilesetDir">D:\Backup2\user folder\Documents\Hacking\remastered2\s2smsdisasm-master\art\level\shz</entry>
<entry key="BlocksetDir">D:\Backup2\user folder\Documents\Hacking\remastered2\s2smsdisasm-master\mappings\shz</entry>
<entry key="LevelDir">D:\Backup2\user folder\Documents\Hacking\remastered2\s2smsdisasm-master\layout\shz</entry>
<entry key="ImageExportDir">C:\Users\Cat\Documents</entry>
<entry key="PaletteDir">C:\Users\Cat\Desktop\art_importer</entry>
</properties>
